# Mac specific
.DS_Store

# sources
charting_library
frontend/src/components/deals-modal/chart-component
frontend/**/*.js
frontend/**/*.map
sample/**/*.js
sample/**/*.map
squeeze-utils/**/*.js
squeeze-utils/**/*.map
node_modules
package-lock.json

# destination
frontend/dist/

