@import '@/assets/style/base/vars.scss';

.sq-calc-form {
    margin-top: 18px;
    .form {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        .main-fields {
            margin-left: 20px;
        }
        .additional-fields {
            padding-left: 50px;
            border-left: 0.5px solid $grey;
        }
        .level {
            margin-bottom: 6px;
            .title {
                display: block;
                font-size: 18px;
                margin-bottom: 12px;
                margin-left: 60px;
            }
            .el-form-item {
                margin-bottom: 12px;
            }
            .el-input {
                width: 180px;
            }
            .el-checkbox {
                margin-right: 16px;
            }
            .block {
                position: relative;
                .is-active-checkbox {
                    position: absolute;
                    left: -14px;
                    bottom: 1px;
                }
                .right-item {
                    position: relative;
                    right: 12px;
                    .el-form-item__label {
                        width: 100px !important;
                    }
                }
                .short-input {
                    width: 100px;
                }
                .short-select {
                    width: 100px;
                }
                .is-tooltip {
                    .el-form-item__label {
                        padding: 0 32px 0 0;
                    }
                    .icon {
                        width: 14px;
                        position: absolute;
                        top: 5px;
                        left: -24px;
                    }
                }
                .text {
                    color: $grey;
                    position: absolute;
                    top: 2px;
                    left: 126px;
                    width: 120px;
                }
            }
            .separator {
                position: relative;
                &::after {
                    content: '-';
                    position: absolute;
                    bottom: 0;
                    right: 11px;
                    font-size: 24px;
                }
            }
        }
    }
    .btn-block {
        // margin-left: 200px;
        margin-top: 24px;
        .el-button {
            width: 120px;
        }
    } 
    .download-block {
        .text-block {
            .item {
                font-size: 12px;
                color: $grey;
            }
        }
    }
    .table-block {
        margin-bottom: 60px;
        .title {
            font-size: 18px;
        }
    }
}

.el-dialog__body .text {
    position: relative;
    bottom: 20px;
}
