.sq-calc-form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
    .form {
        display: flex;
        margin-bottom: 16px;
        .el-select__selection {
            min-width: 86px;
        }
        .additional-fields {
            padding-left: 50px;
            border-left: 0.5px solid $grey;
        }
        .level {
            margin-bottom: 6px;
            .title {
                display: block;
                font-size: 18px;
                margin-bottom: 12px;
                margin-left: 60px;
            }
            .el-form-item {
                margin-bottom: 12px;
            }
            .el-input {
                width: 180px;
            }
            .el-checkbox {
                margin-right: 16px;
            }
            .block {
                position: relative;
                .is-active-checkbox {
                    position: absolute;
                    left: -14px;
                    bottom: 1px;
                }
                .right-item {
                    position: relative;
                    right: 12px;
                    .el-form-item__label {
                        width: 100px !important;
                    }
                    .warn-text {
                        color: $yellow;
                        font-size: 10px;
                        position: absolute;
                        white-space: nowrap;
                        bottom: -19px;
                        right: 0;
                    }
                }
                .exchange-select {
                    .el-select__selection {
                        min-width: 146px;
                    }
                }
                .short-input {
                    width: 100px;
                }
                .short-select {
                    .el-select__selection {
                        min-width: 66px;
                    }
                }
                .is-tooltip {
                    .el-form-item__label {
                        padding: 0 32px 0 0;
                    }
                    .icon {
                        width: 14px;
                        position: absolute;
                        top: 5px;
                        left: -24px;
                    }
                }
                .text {
                    color: $grey;
                    position: absolute;
                    top: 2px;
                    left: 126px;
                    width: 120px;
                }
            }
            .separator {
                position: relative;
                &::after {
                    content: '-';
                    position: absolute;
                    bottom: 0;
                    right: 11px;
                    font-size: 24px;
                }
            }
        }
    }
    .btn-block {
        margin-top: 24px;
        .el-button {
            width: 120px;
        }
    } 
    .download-block {
        .text-block {
            .item {
                font-size: 12px;
                color: $grey;
            }
        }
    }
    .table-block {
        .title {
            font-size: 18px;
        }
        .el-table {
            .cell {
                padding: 0;
                overflow: auto;
                white-space: nowrap;
            }
            .sort-caret {
                left: 4px;
            }
        }
        .header-icon {
            width: 14px;
            margin-left: 2px;
            position: relative;
            top: 2px;
        }
    }
}

.el-dialog__body {
    padding-top: 10px;
    .deals-header-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 40px;
        position: relative;
        bottom: 20px;
        .title {
            font-weight: bold;
            font-size: 16px;
        }
        .text {
            font-size: 12px;
        }
    }
    .chart {
        height: 75vh;
    }
}


@media (max-width: 1032px) {
    .sq-calc-form {
      .form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .main-fields {
            padding-top: 20px;
            padding-bottom: 40px;
        }
        .additional-fields {
            display: flex;
            flex-direction: row;
            padding-left: 0;
            padding-top: 60px; 
            border-left: none;
            border-top: 0.5px solid $grey;
        }
      }
    }

    .sq-calc-form .btn-block {
        position: relative;
        top: 30px;
        right: 113px;
    }
  }

  @media (max-width: 794px) {
    .sq-calc-form {
        .form {
            .additional-fields {
                flex-direction: column;
                padding-top: 30px;
                .level:nth-child(2) {
                    border-top: 0.5px solid $grey;
                    padding-top: 30px;
                }
            }
        }
    }

    .sq-calc-form .btn-block {
        right: -37px;
    }
  }

  @media (max-width: 722px) {
    .main-fields {
        .level:first-of-type {
            padding-bottom: 30px;
            .block {
                width: 250px;
                left: calc(25% - 100px);
            }
            .block:nth-of-type(1) {
                .el-form-item:nth-of-type(2) {
                    position: relative;
                    right: 100px;
                    
                }
            }
            .el-date-editor {
                width: 180px;
            }

            .right-item {
                position: relative;
                left: 80px;
            }
        }

        .level:nth-of-type(1), 
        .level:nth-of-type(2) {
            .title {
                text-align: center;
                margin-right: 50px;
                margin-bottom: 30px;
            }
        }

        .level:nth-of-type(2) {
            border-top: 0.5px solid $grey;
            padding-top: 30px;
        }
    }

    .additional-fields {
        .level {
            .title {
                margin-bottom: 30px!important;
            }
        }
        
        .level:nth-of-type(1) {
            padding-bottom: 40px;
        }
    }
  }

  @media (max-width: 704px) {
    .main-fields {
        .level:nth-of-type(2) {
            .block {
                width: 490px;
            }

            .block:nth-of-type(1) {
                .el-form-item__content {
                    .el-select__wrapper {
                        width: 80px;
                        .el-icon {
                            right: 39px;
                        }
                    }
                    
                }
            }
        }
    }
  }

  @media (max-width: 566px) {
    .main-fields {
        .level:nth-of-type(2) {
            .block:nth-of-type(5), .block:nth-of-type(6) {
                .el-checkbox__input {
                    left: 19px;
                }
            }
        }
    }
  }

  @media (max-width: 532px) {
    .main-fields {
            .level:first-of-type {
                padding-bottom: 30px;
                .block {
                    width: 250px;
                    left: calc(25% - 120px);
                }
            }
        .level:nth-of-type(2) {
            .block {
                left: -8px;
            }
            .block:nth-of-type(2) {
                .el-form-item__label {
                    width: 120px!important;
                    position: relative;
                    left: 57px;
                }

                .el-form-item__content {
                    width: 238px;
                    left: 63px;
                }
            }

            .block:nth-of-type(5) {
                .el-form-item__label {
                    width: 120px!important;
                    line-height: 13px;
                    position: relative;
                    left: 82px;
                }

                .el-form-item__content {
                    left: 60px;
                }

                .el-checkbox__inner {
                    right: 10px;
                }

                .separator {
                    left: 60px;
                }
            }
        }
    }

    .additional-fields {
        .level:nth-of-type(1) {
            .block {
                left: calc(25% - 60px);
            }
        }

        .level:nth-of-type(2) {
            .block {
                left: calc(25% - 110px);
            }
            .block:nth-of-type(2) {
                .text {
                    width: 62px;
                    margin-left: 13px;
                }
            }
        }
    }
  }